{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <body>
        <p>Home page!</p>
        <a href="/create-post">Create post!</a>
    {% for following in followings %}
        {% for user in users %}
            {% if user.id == following.following_user_id %}
                <p>Following: {{ user.username }}</p>
                <a href="/user/{{ user.id }}">View more info!</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for post in posts %}
        <p>{{ post.caption }}</p>
        <a href="/like-post/{{ post.id }}">Like</a>
        <a href="/post/add-comment/{{ post.id }}">Add comment</a>
        {% for like in likes %}
            {% if post.id == like.post_id and like.like == True %}
                <a href="/unlike-post/{{ post.id }}">Unlike</a>
            {% endif %}
        {% endfor %}
        {% for comment in comments %}
            {% if comment.post_id == post.id %}
                <p>{{ comment.description }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </body>
{% endblock %}