{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <body>
        <p>Home page!</p>
        <a href="/create-post">Create post!</a>
    {% for following in followings %}
        {% for user in users %}
            {% if user.id == following.following_user_id %}
                <p>Following: {{ user.username }}</p>
                <a href="/user/{{ user.id }}">View more info!</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for post in posts %}
        <p>{{ post.caption }}</p>
    {% endfor %}
    </body>
{% endblock %}