{% extends 'base.html' %}

{% block content %}
    <div>
        <p>I am {{ route.name }} and I exist!</p>
        <a href="/add-comment/{{ route.id }}">Add comment</a>
    </div>
    {% for comment in comments %}
        <div>
            {% for user in users %}
                {% if user.id == comment.user_id %}
                    <h1>{{ user.username }}</h1>
                {% endif %}
            {% endfor %}
            <p>{{ comment.description }}</p>
        </div>
    {% endfor %}
{% endblock %}